body{
    font-family: Roboto, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin: 0;
}

header{
    background-color: #1F2937;
    width: 100%;
}

.header-container{
    display: flex;
    justify-content: space-between;
    align-items: center;

    max-width: 1200px;   /* quanto “larga” vuoi la pagina */
    margin: 0 auto;     /* centra il contenitore */
    padding: 16px 24px; /* distanza minima dai bordi */
}

.logo{
    font-size: 24px;
    font-weight: 700;
    color: #F9FAF8;
    padding: 8px;
}

.link{
    display: flex;
    justify-content: space-evenly;
    padding: 8px;
    gap: 8px;
}

.link a {
    text-decoration: none;
    font-size: 18px;
    color: #E5E7EB;
}

.section1{
    background-color: #1F2937;
    width: 100%;
    padding: 48px;
}

.section1-container{
    display: flex;
    justify-content: space-between;
    max-width: 1200px;   /* quanto “larga” vuoi la pagina */
    margin: 0 auto;     /* centra il contenitore */
    padding: 16px 24px; /* distanza minima dai bordi */
}

.section1-left{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    max-width: 500px;
}

.section1-left h1{
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
    margin: 0 0 16px 0;
}

.section1-left p{
    font-size: 18px;
    color: #E5E7EB;
    margin: 0 0 16px 0;
}

.section1-left button{
    background-color: #3882F6;
    padding: 8px 16px;
    color: white;
    border-radius: 8px;
}

.section1-right{
    max-width: 500px;   /* dimensione massima dell'immagine */
    width: 100%;
}

.section1-right img {
    width: 100%;       /* si adatta al contenitore */
    height: auto;      /* mantiene le proporzioni */
    display: block;    /* rimuove spazio fantasma sotto l'immagine */

    border-radius: 10px;
}

.section2{
    width: 100%;
    padding: 48px;
}

.section2-container{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    max-width: 1200px;   /* quanto “larga” vuoi la pagina */
    margin: 0 auto;     /* centra il contenitore */
    padding: 16px 24px; /* distanza minima dai bordi */
}

.section2-container h1{
    font-size: 36px;
    font-weight: 900;
    color: #1F2937;
}

.content{
    display: flex;
    justify-content: space-evenly;
    align-content: center;
    gap: 48px;
}

.card{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 150px;
}

.card img{
    width: 100%;      /* si adatta al contenitore */
    height: auto;      /* mantiene le proporzioni */
    border: 5px solid #3882F6;
    border-radius: 5px;
}

.card p{
    text-align: center;
}

.section3{
    background-color: #E5E7EB;
    width: 100%;
    padding: 48px;
}

.section3-container{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    max-width: 800px;   /* quanto “larga” vuoi la pagina */
    margin: 0 auto;     /* centra il contenitore */
    padding: 16px 24px; /* distanza minima dai bordi */

    color: #1F2937;
}

.quote{
    font-size: 36px;
    font-weight: 300;
}

.author{
    font-size: 24px;
    font-weight: 600;
    align-self: flex-end;
}

.section4{
    width: 100%;
    padding: 48px;
}

.section4-container{
    background-color: #3882F6;
    color: #F9FAF8;
    border-radius: 24px;
    padding: 48px;

    display: flex;
    justify-content: space-between;
    align-items: center;

    max-width: 1200px;   /* quanto “larga” vuoi la pagina */
    margin: 0 auto;     /* centra il contenitore */
}

.section4-left{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.section4-left h1{
    margin: 0 0 4px 0;
}

.section4-left p{
    margin: 0 0 4px 0;
    font-size: 16px;
}

.section4-right button{
    color: #F9FAF8;
    padding: 8px 16px;
    background-color: #3882F6;
    border: 5px solid #F9FAF8;
    border-radius: 5px;
}

footer{
    background-color: #1F2937;
    color: #F9FAF8;
    width: 100%;
    padding: 16px;
    text-align: center;
}